[submodule "packages/server"]
	path = packages/server
	url = git@github.com:caglarturali/piyango-api.git
[submodule "packages/common"]
	path = packages/common
	url = git@github.com:caglarturali/piyango-common.git
